* {
    padding: 0%;
    margin: 0%;
}
body {
    transition:all 3s ease;
    background: #373737;
}

.header .name {
    margin-left: 35px; 
    font-family: 'Alex Brush', cursive;
    font-size: 42px;
    font-weight: bold;
    letter-spacing: 5px;
    color: #fff;
}
.header .navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 69px;
    text-align: center;
    color:#fff
}
.header li {
    list-style: none;
    display: inline-block;
    margin-right: 45px;
    margin-top: 15px;
    font-family:'Alex Brush', cursive;
    font-size: 38px;
    font-weight: 300;
    letter-spacing: 1.5px;
    color: #fff;
}
    
 button {
    cursor: pointer;
    margin-right: 25px;
    margin-top: 20px;
    background-color: #000;
    color: #fff;
    border-style: none;
 }
 button:hover {
    color: blue;
 }

.main {
    margin: 40px auto;
    width: 60%;
}
.About_Me {
    font-size: 16px;
    font-family: Lato, sans-serif;
    color: #fff;
}
.main img {
    max-width: 320px;
    float: right;
    border-radius: 5px;
    border:3px solid #000;
    margin-left: 15px;
}
/*.wrapper {
    margin: 0 auto; 
} */
.projects_container {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}
.portfolio h1 {
    text-align: center;
    margin-bottom: 20px;
}
.project_element {
    width: 300px;
    height: 200px;
    overflow: hidden;
    margin: 1%;
    transition:all 0.5s ease-in-out;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0 15px;
}
.project_element:hover{
    transform: translateY(20px);
}
.project_element:hover img{
    /*transform: scale(1.25); */
}
.project_element img {
   transition:all .100s ease-in-out; 
}

.project-content {
    opacity: 0;
    transition: all .125 ease;
    color: #fff;
    font: 600 1.125rem ;
    padding: 1.25rem;
    z-index: 30;
}
.project_element:hover .project-content {
    position: absolute;
    bottom: 0;
    opacity: 1;
}
.project_element::after {
    content:'';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 110%);
    z-index: 20;
    display: none;
}
.project_element:hover::after {
    display: block;
}
.project_element .project-content h1 {
    margin:0;
    font-family: Lato, sans-serif;

}
.project_element .project-content p {
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: bold;
    font-family: Lato, sans-serif;
}
.project_element .project-content .btn {
    text-decoration: none;
    padding: 0.5rem 1rem;
    background: #fff;
    color:#000;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    font-size: 14px;
    font-weight: bold;
}
.project_element .project-content {
    position: relative;
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.5s;
}
.project_element:hover .project-content {
    opacity:1;
    transform: translateY(0px);
}

.footer {
    display: flex;
    justify-content: space-between;
    height: 69px;
    text-align: center;
    align-items: center;
    margin-top: 45px;
}
 .footer .contact {
    margin-left: 45px;
}
.footer li {
    list-style: none;
    display: inline-block;
    margin-right: 45px;
}